:root {
/* COLORS */
    --clr-bg: #06141b;
    --clr-bg-100: #11212d;
    --clr-bg-200: #153745;
    --clr-bg-300: #4a5c6a;
    --clr-bg-400: #9ba8ab;
    --clr-bg-500: #ccd0cf;

    --clr-primary-100: #072e33;
    --clr-primary-200: #0c7075;
    --clr-primary-300: #0f969c;
    --clr-primary-400: #6da5c0;

    --clr-accent-300: #6127FF;
    --clr-accent-400: #AA8BFD;

    --clr-white: #f8f6fd;

/* FONT FAMILY */
    --ff-main: "K2D", sans-serif;

/* FONT SIZE */
    --fs-100: 0.875rem;
    --fs-200: 1rem;
    --fs-300: 1.25rem;
    --fs-400: 1.75rem;
    --fs-500: 2.5rem;

/* FONT WEIGHT */
    --fw-100: 300;
    --fw-150: 400;
    --fw-200: 500;
    --fw-300: 600;
    --fw-400: 700;
    --fw-500: 900;

/* GENERAL */
    --border-round: 10em;
}

html,
body {
    height: 100%;
    padding: 0;
    background: var(--clr-bg);
    background: var(--clr-bg);
}

html:focus-within {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: var(--ff-main);
}

img,
picture,
svg {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    outline: none;
}





.cta-text {
    position: relative;
    color: var(--clr-bg-500);
    font-size: var(--fs-200);
    font-weight: var(--fw-200);
    cursor: pointer;
    transition: all .3s;
}

.cta-text::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -0.125rem;
    width: 50%;
    height: .125rem;
    background: var(--clr-bg-500);
    border-radius: var(--border-round);
    transition: all .3s;
}

.cta-text:hover {
    color: var(--clr-primary-300);
}

.cta-text:hover::before {
    width: 100%;
    background: var(--clr-primary-300);
}

.button {
    background: var(--clr-bg-100);
    color: var(--clr-bg-500);
    font-size: var(--fs-100);
    font-weight: var(--fw-300);
    padding: .25rem 1rem;
    border: .125rem solid var(--clr-primary-200);
    border-radius: var(--border-round);
    box-shadow: 0 0 .25rem #000;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    border: .125rem solid var(--clr-primary-300);
    transform: translateY(3%);
}

.button:active {
    transform: translateY(6%);
}

.svg-button {
    box-shadow: 0 0 .25rem #000;
    cursor: pointer;
}

.svg-button:hover {
    transform: translateY(3%);
}

.svg-button:active {
    transform: translateY(6%);
}




/* MAIN INDEX CONTENT */
.pop-toon,
.recent-toon,
.new-toon,
.rank-toon {
    padding-block: 2rem;
    display: grid;
    gap: .5rem;
}

.content-title {
    color: var(--clr-bg-400);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    padding: .5rem;
    padding-block: 0;
}

.content-divider {
    height: .125rem;
    margin: .5rem;
    background: var(--clr-bg-400);
}

.toon-slider {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    padding: .5rem;
    gap: .5rem;
    scroll-padding-inline: 1rem;
    white-space: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

.slider__container {
    display: grid;
    gap: .5rem;
}

.slider__toon-cover,
.rank__toon-cover {
    inline-size: 100%;
    min-width: 112px;
    object-fit: cover;
    border-radius: .25rem;
    box-shadow: 0 0 .25rem #000;
    cursor: pointer;
}

.slider__toon-cover,
.rank__toon-container {
    transition: all .3s;
}

.slider__toon-cover:hover,
.rank__toon-container:hover {
    scale: 1.02;
}

.slider__toon-cover {
    aspect-ratio: 16 / 21;
}

.slider__toon-title {
    color: var(--clr-bg-400);
    font-size: var(--fs-200);
    font-weight: var(--fw-200);
    text-wrap: nowrap;
    -webkit-box-orient: vertical;
    box-orient: vertival;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toon-slider::-webkit-scrollbar {
    height: .1875rem;
}

.toon-slider::-webkit-scrollbar-track {
    margin: 0 .5rem;
    background: transparent;
}

.toon-slider::-webkit-scrollbar-thumb {
    background: var(--clr-primary-300);
    border-radius: 10em;
}

.recent-toon {
    padding: .5rem;
}

.recent__toon-wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 450px), 1fr));
    align-items: stretch;
    gap: 1rem;
}

.recent__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    background: var(--clr-bg-100);
    padding: 1rem;
    border: .125rem solid var(--clr-bg-200);
    border-radius: .5rem;
    box-shadow: 0 0 .25rem #000;
    transition: all .6s;
}

.recent__container:hover {
    border: .125rem solid var(--clr-bg-300);
}

.recent__toon-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1rem;
}

.recent__toon-cover {
    aspect-ratio: 16 / 21;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    inline-size: 100%;
    height: 100%;
    object-fit: cover;
}

.recent__toon-info {
    grid-column: 3 / 6;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.info-title {
    color: var(--clr-bg-400);
    font-size: var(--fs-200);
    font-weight: var(--fw-300);
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-genres {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: .5rem;
}

.info-genres p {
    font-size: var(--fs-100);
    color: var(--clr-primary-300);
    cursor: pointer;
}

.info-genres p:hover{
    color: var(--clr-primary-400);
}

.latest-chapters {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .5rem;
}

.latest-chapters p {
    color: var(--clr-bg-400);
    font-size: var(--fs-100);
    background: var(--clr-bg);
    text-align: center;
    padding: .125rem;
    border: 1px solid var(--clr-bg-400);
    border-radius: 10em;
    box-shadow: 0 0 .25rem #000;
    transition: all .3s;
}

.latest-chapters p:hover {
    border: 1px solid var(--clr-primary-300);
}

.rank__toon-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 112px), 1fr));
    padding: .5rem;
    gap: .5rem;
}

.featured {
    grid-row: span 2;
    grid-column: span 2;
}

.rank__toon-container {
    display: grid;
}

.rank__toon-cover {
    aspect-ratio: 1 / 1;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.rank__toon-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: end;
    text-align: right;
    width: 100%;
    background: hsl(from var(--clr-bg-100) h s l / .9);
    color: var(--clr-bg-500);
    font-size: var(--fs-200);
    font-weight: var(--fw-300);
    padding: .25rem;
    text-wrap: nowrap;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.rank__toon-link:first-child .rank__toon-title {
    color: var(--clr-white);
    background: hsl(from hsl(46, 84%, 52%) h s l /.9);
}

.rank__toon-link:nth-child(2) .rank__toon-title {
    color: var(--clr-white);
    background: hsl(from var(--clr-primary-300) h s l / .9);
}

.rank__toon-link:nth-child(3) .rank__toon-title {
    color: var(--clr-white);
    background: hsl(from var(--clr-accent-300) h s l / .9);
}

@media (min-width: 848px) {
    .content-title {
        padding: 1rem;
    }

    .slider__container {
        gap: 1rem;
    }

    .toon-slider {
        padding: 1rem;
    }

    .toon-slider::-webkit-scrollbar-track {
        margin: 0 1rem;
    }

    .rank__toon-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 224px), 1fr));
    }

    .slider__toon-cover,
    .rank__toon-cover {
        min-width: 224px;
    }

    .slider__toon-title {
        font-size: var(--fs-300);
    }

    .rank__toon-title {
        padding: .5rem 1rem;
    }
}

@media (min-width: 1748px) {
    .rank-toon,
    .recent-toon {
        width: 80vw;
        margin: 0 auto;
    }    
}




.footer-wrapper {
    display: grid;
    padding-block: 2rem;
    gap: 2rem;
    justify-items: center;
    border-top: .125rem solid var(--clr-bg-300);
}

.footer-text {
    color: var(--clr-bg-400);
    font-size: var(--fs-200);
    font-weight: var(--fw-200);
}

.footer-logo {
    width: 3rem;
}