.read-toon-wrapper {
    display: grid;
    gap: 2rem;
    padding: 1rem;
    padding-block: 4rem;
}

.toon-details {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    gap: 2rem;
}

.details__primary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 49ch), 1fr));
    justify-items: center;
    gap: 2rem;
}

.details__cover {
    max-height: 50svh;
    box-shadow: 0 0 .25rem #000;
    border-radius: .25rem;
    aspect-ratio: 16 / 21;
    object-fit: cover;
}

.primary__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.info__titles {
    display: grid;
    gap: .5rem;
}

.titles__primary {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.details__title {
    color: var(--clr-bg-400);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
}

.details__rating {
    color: var(--clr-primary-300);
    font-size: var(--fs-200);
    font-weight: var(--fw-200);
}

.details__rating span {
    padding-left: .25rem;
}

.titles__alt {
    color: var(--clr-bg-300);
    font-size: var(--fs-100);
    font-weight: var(--fw-100);
}

.primary__cta {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.details__button {
    text-transform: uppercase;
}

.primary__summary {
    display: grid;
    gap: .5rem;
}

.summary__title {
    color: var(--clr-bg-400);
    font-size: var(--fs-300);
    font-weight: var(--fw-300);
}

.summary__divider {
    width: 100%;
    background: var(--clr-bg-400);
    outline: none;
}

.summary__summary {
    color: var(--clr-bg-300);
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.summary__more {
    width: max-content;
    background: none;
    border: none;
    outline: none;
    color: var(--clr-primary-300);
    font-size: var(--fs-200);
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
}

.summary__more:hover {
    color: var(--clr-primary-400);
}

.summary-modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70ch;
    max-height: 40ch;
    background: var(--clr-bg);
    padding: 1rem 2rem;
    border: .125rem solid var(--clr-primary-300);
    border-radius: 1rem;
    box-shadow: 0 0 .5rem #000;

    opacity: 0;
    transition-property: overlay display opacity;
    transition-duration: .3s;
    transition-behavior: allow-discrete;

    & > * {
        color: var(--clr-bg-500);
    }
}

@media (max-width: 661px) {
    .summary-modal {
        position: fixed;
    }
}

.summary-modal[open] {
    display: block;
    opacity: 1;

    @starting-style {
        opacity: 0;
    }
}

.summary-modal::backdrop {
    display: none;
    opacity: 0;
    transition-property: overlay display opacity;
    transition-duration: .3s;
    transition-behavior: allow-discrete;
}

.summary-modal[open]::backdrop {
    display: block;
    opacity: 1;
}

@starting-style {
    .summary-modal[open]::backdrop {
        opacity: 0;
    }
}

.summary__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.summary__close::before,
.summary__close::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 50%;
    width: .125rem;
    height: 1.5rem;
    background-color: var(--clr-bg-400);
    border-radius: 10em;
    transition: all .3s;
}

.summary__close:hover::before,
.summary__close:hover::after {
    height: 1.25rem;
}

.summary__close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.summary__close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.secondary__info-table {
    background: var(--clr-bg-100);
    border-radius: .5rem;
    box-shadow: 0 0 .25rem #000;
    border-collapse: collapse;
    text-align: left;
}

.secondary__info-table tr th {
    color: var(--clr-bg-400);
    font-size: var(--fs-200);
    font-weight: var(--fw-500);
    padding: 1rem;
}

.secondary__info-table tr td {
    font-size: var(--fs-100);
    font-size: var(--fw-100);
    color: var(--clr-bg-300);
    padding: 1rem;
}

.toon-chapters {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 0 .25rem #000;
}

.chapters__title {
    width: 100%;
    background: var(--clr-primary-400);
    color: var(--clr-bg-100);
    font-size: var(--fs-300);
    font-weight: var(--fw-400);
    text-align: center;
    padding: 1rem;
}

.chapters-container {
    width: 100%;
    max-height: 23rem;
    background-color: var(--clr-bg-100);
    display: grid;
    justify-items: center;
    overflow: hidden;
    overflow-y: auto;
}

.chapters-container::-webkit-scrollbar {
    width: .375rem;
}

.chapters-container::-webkit-scrollbar-track {
    background: transparent;
}

.chapters-container::-webkit-scrollbar-thumb {
    background: var(--clr-primary-300);
}

.chapters__table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: var(--fs-100);
}

.chapters__table tr {
    border: .0625rem solid var(--clr-bg-300);
    border-right: none;
    border-left: none;
}

.chapters__table tr:first-child {
    border-top: none;
}

.chapters__table tr:last-child {
    border-bottom: none;
}

.chapters__table td {
    color: var(--clr-bg-400);
    padding-block: .625rem;
}

.toon-discussion {
    display: grid;
    gap: 1rem;
    padding-block: 2rem;
}

.toon-discussion p {
    text-align: center;
    color: var(--clr-bg-400);
    font-size: var(--fs-300);
    font-weight: var(--fw-300);
}

.discussion__input {
    color: var(--clr-bg-400);
    font-size: var(--fs-200);
    font-weight: var(--fw-100);
    padding: .5rem 1rem;
    background: transparent;
    outline: none;
    border: .0625rem solid var(--clr-bg-300);
    border-right: none;
    border-left: none;
}

.discussion__input::placeholder {
    text-align: center;
}

@media (max-width: 1309px) {
    .toon-details {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
}

@media (min-width: 959px) {
    .read-toon-wrapper {
        width: 70vw;
        margin: 0 auto;
    }

    .details__primary {
        display: flex;
    }

    .details__cover {
        max-height: 25svh;
    }

    .primary__info {
        justify-self: left;
    }
}